.landingPage__container {
  position: relative;
  min-height: calc(100vh - 250px);
  overflow-x: hidden;
  display: block;
  top: 5rem;
  padding: 0 calc(3.5vw + 5px);
}

.landingPage__container::after {
  background: url('https://res.cloudinary.com/supertramp69420/image/upload/v1649247526/mediaHive/home-background_e6zavp.png')
    center center / cover no-repeat fixed;
  content: '';
  position: absolute;
  inset: 0px;
  opacity: 1;
  z-index: -1;
}
